---
import BaseLayout from '../../layouts/BaseLayout.astro';

interface Frontmatter {
	title: string;
	date: string;
}

const posts = await Astro.glob<Frontmatter>('./*.md');
---

<BaseLayout title='Blog'>
	<section class='py-12 flex flex-col gap-4 items-center'>
		<h2 class="text-4xl mb-8 font-semibold">Blog Posts</h2>

		<div class="container mx-auto flex flex-col justify-center gap-8 lg:grid lg:grid-cols-[300px_300px_300px] xl:grid-cols-[300px_300px_300px_300px] lg:pt-3">
			{
				[
					'https://images.ctfassets.net/gmpl42c7a7o8/anHAn3HieuFwvCrOXlLP2/f24d80eab33e0a9e730894d038bddd95/book-image-2.jpg',
					'https://images.contentful.com/gmpl42c7a7o8/52FOyJUiZEXNDN6EUjWJMs/e72f568f021a834267fa0c7dc56f6d18/book-image-3.jpg', 
					'https://images.contentful.com/gmpl42c7a7o8/2BrwdDAxVrWeuxB2iO5S3V/fa78e8f3c1f0e3227980a5f6407e72c8/book-image-4.jpg',
					'https://images.contentful.com/gmpl42c7a7o8/2BrwdDAxVrWeuxB2iO5S3V/fa78e8f3c1f0e3227980a5f6407e72c8/book-image-4.jpg',
					'https://images.contentful.com/gmpl42c7a7o8/52FOyJUiZEXNDN6EUjWJMs/e72f568f021a834267fa0c7dc56f6d18/book-image-3.jpg', 
					'https://images.ctfassets.net/gmpl42c7a7o8/anHAn3HieuFwvCrOXlLP2/f24d80eab33e0a9e730894d038bddd95/book-image-2.jpg',
				].map((imageUrl, bookIdx) => (
				<div class="recent-post rounded overflow-hidden lg:overflow-visible flex items-center lg:flex-col">
					<div class="lg:relative">
						<div class="w-[300] h-[192] overflow-hidden rounded-t">
							<img class="blur-sm opacity-70 object-cover w-full h-full hidden lg:block" src={`${imageUrl}?fit=fill&f=top&w=300&h=192&fm=avif&q=10`} alt="book-cover" />
						</div>

						<div class="hidden pl-4 lg:pl-0 md:flex w-[170px] h-[240px] lg:w-auto lg:h-auto lg:justify-center lg:absolute lg:inset-x-0 lg:-top-3">
							<img class="w-[170px] h-[240px] overflow-hidden lg:rounded-sm lg:shadow-md" src={`${imageUrl}?&w=170&h=240&fm=avif`} alt="book-cover" />
						</div>
					</div>

					<div class="card-body">
						<div class="flex flex-col">
							<h2 class="card-title lg:mt-4">
							<a href="/blog/post1" class="link link-hover">Saintes fesses d'étole de cul de sapristi de crucifix de boswell.</a></h2>
							<div class='flex flex-wrap gap-2 py-2 lg:hidden'>
								<div class="badge badge-sm badge-outline">Thriller</div>
								<div class="badge badge-sm badge-outline">Mystery</div>
							</div>
						</div>

						<div class='hidden lg:flex lg:flex-wrap lg:gap-2 lg:mb-2'>
							<div class="badge badge-sm badge-outline">Thriller</div>
							<div class="badge badge-sm badge-outline">Mystery</div>
						</div>

						<p>Enfant d'chienne de calvince de baptême de cibolac de cimonaque de mosus de Jésus de plâtre de cibouleau de sapristi de cibole de saint-ciarge.</p>
					</div>
				</div>
			))}
		</div>
	</section>
</BaseLayout>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}
</style>