---
import contentful from 'contentful';

import BaseLayout from '../../layouts/BaseLayout.astro';
import Image from '../../components/Image.astro';
import Rating from '../../components/Rating.tsx';
import Post from '../../components/Post.astro';

const contentfulClient = contentful.createClient({
  space: process.env.CONTENTFUL_SPACE,
  accessToken: process.env.CONTENTFUL_ACCESSTOKEN,
});

const allPostsWithImagePromises = (await Astro.glob('../../posts/*.md'))
	.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
	.map(async post => {
		try {
			const res = await contentfulClient.getAsset(post.frontmatter.bookImageId);
			return {
				...post,
				imageUrl: res.fields.file.url,
				slug: post.file.split('/posts/')[1].split('.')[0],
			}
		} catch {
			return {
				...post,
				imageUrl: '/images/placeholder.webp',
				slug: post.file.split('/posts/')[1].split('.')[0],
			}
		}
	});
const allPosts = await Promise.all(allPostsWithImagePromises)
---

<BaseLayout title='Blog'>
	<section class='py-12 flex flex-col gap-4 items-center'>
		<div class="flex flex-col gap-2 items-center mb-8">
			<h2 class="text-4xl font-semibold">Blog Posts</h2>
			<h6 class="opacity-50 font-semibold">({allPosts.length})</h6>
		</div>

		<div class="container mx-auto flex flex-col justify-center gap-8 lg:grid lg:grid-cols-[300px_300px_300px] xl:grid-cols-[400px_400px_400px] lg:pt-3">
			{allPosts.map((post) => (
				<Post post={post} />
			))}
		</div>
	</section>
</BaseLayout>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}
</style>