@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-mark: #5468ff;
  --color-background: #fff;
  --color-selected: #f5f5fa;
  --color-text: #23263b;
  --color-input-icon: #777;
  --color-source-icon: rgba(80, 80, 80, 0.32);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mark: #fff;
    --color-background: #23263b;
    --color-selected: #111432;
    --color-text: #d6d6e7;
    --color-input-icon: rgba(var(--aa-primary-color-rgb), 1);
    --color-source-icon: #d6d6e777;
  }
}
