---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Home' containerClass="">
	<section>
		<div 
			class="relative flex bg-center bg-cover min-h-[50vh]" 
			style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);"
		>
			<div 
				class="absolute inset-0 bg-opacity-60" 
				style="background-color: hsl(var(--n) / var(--tw-bg-opacity));"
			></div>

			<div class='relative container mx-auto flex flex-col flex-1 justify-center items-start'>
				<div class='max-w-2xl p-2 px-4'>
					<h1 class="text-5xl font-bold">Hi, I'm Oscar!</h1>
					<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
					<a href="#subscribe" class="btn btn-primary">Subscribe</a>
				</div>
			</div>
		</div>
	</section>

	<section class='py-12 flex flex-col gap-4 items-center'>
		<h2 class="text-4xl mb-8 font-semibold">Recent Posts</h2>

		<div class="container mx-auto flex flex-col justify-center gap-8 lg:grid lg:grid-cols-[300px_300px_300px] lg:pt-3">
			{
				[
					'https://images.ctfassets.net/gmpl42c7a7o8/anHAn3HieuFwvCrOXlLP2/f24d80eab33e0a9e730894d038bddd95/book-image-2.jpg',
					'https://images.contentful.com/gmpl42c7a7o8/52FOyJUiZEXNDN6EUjWJMs/e72f568f021a834267fa0c7dc56f6d18/book-image-3.jpg', 
					'https://images.contentful.com/gmpl42c7a7o8/2BrwdDAxVrWeuxB2iO5S3V/fa78e8f3c1f0e3227980a5f6407e72c8/book-image-4.jpg',
				].map((imageUrl, bookIdx) => (
				<div class="recent-post rounded overflow-hidden lg:overflow-visible flex items-center lg:flex-col">
					<div class="lg:relative">
						<div class="w-[300] h-[192] overflow-hidden rounded-t">
							<img class="blur-sm opacity-70 object-cover w-full h-full hidden lg:block" src={`${imageUrl}?fit=fill&f=top&w=300&h=192&fm=avif&q=10`} alt="book-cover" />
						</div>

						<div class="hidden pl-4 lg:pl-0 md:flex w-[170px] h-[240px] lg:w-auto lg:h-auto lg:justify-center lg:absolute lg:inset-x-0 lg:-top-3">
							<img class="w-[170px] h-[240px] overflow-hidden lg:rounded-sm lg:shadow-md" src={`${imageUrl}?&w=170&h=240&fm=avif`} alt="book-cover" />
						</div>
					</div>

					<div class="card-body">
						<div class="flex flex-col">
							<h2 class="card-title lg:mt-4">Saintes fesses d'étole de cul de sapristi de crucifix de boswell.</h2>
							<div class='flex flex-wrap gap-2 py-2 lg:hidden'>
								<div class="badge badge-sm badge-outline">Thriller</div>
								<div class="badge badge-sm badge-outline">Mystery</div>
							</div>
						</div>

						<div class='hidden lg:flex lg:flex-wrap lg:gap-2 lg:mb-2'>
							<div class="badge badge-sm badge-outline">Thriller</div>
							<div class="badge badge-sm badge-outline">Mystery</div>
						</div>

						<p>Enfant d'chienne de calvince de baptême de cibolac de cimonaque de mosus de Jésus de plâtre de cibouleau de sapristi de cibole de saint-ciarge.</p>
						
						<div class="card-actions mt-2 items-center justify-between">
							<div class="rating rating-md rating-half">
								{Array.from({length: 5}).map((_, i) => (
									<>
										<input 
											type="radio" 
											name={`book-rating-${(bookIdx * 2) + 1}`} 
											class="bg-orange-400 mask mask-star-2 mask-half-1" 
											checked={3.5 === ((i * 2) + 1) * 0.5}
										/>
										<input 
											type="radio" 
											name={`book-rating-${(bookIdx * 2) + 2}`} 
											class="bg-orange-400 mask mask-star-2 mask-half-2"
											checked={3.5 === ((i * 2) + 2) * 0.5}
										/>
									</>
								))}
							</div>

							<a href="/blog/post1" class="btn btn-outline btn-sm">Read</a>
						</div>
					</div>
				</div>
			))}
		</div>

		<a href="/blog" class='btn btn-outline'>See More Posts</a>
	</section>

	<section class="relative bg-cover" style="background-image: url(https://api.lorem.space/image/fashion?w=1000&h=800);">
		<div 
			class="absolute inset-0 bg-opacity-60" 
			style="background-color: hsl(var(--n) / var(--tw-bg-opacity));"
		></div>

		<div class="relative container py-12 px-6 lg:px-16 mx-auto flex flex-col gap-8 lg:grid lg:grid-cols-2 lg:grid-rows-1">
			<div class="flex justify-center items-center">
				<h2 class="text-center font-semibold lg:text-left text-4xl md:text-5xl lg:text-6xl max-w-lg">Get all the latest news and info sent to your inbox.</h2>
			</div>

			<div class="signup-form p-12 card flex flex-col items-center justify-center">
				<form id="subscribe" class="flex-shrink-0 w-full max-w-sm">
					<h3 class="text-4xl text-center pb-6 font-bold">Newsletter Sign Up</h3>

					<div class="form-control">
						<label class="label">
							<span class="label-text">Your Name</span>
						</label>
						<input type="text" placeholder="Name" class="input input-bordered">
					</div>

					<div class="form-control">
						<label class="label">
							<span class="label-text">Email</span>
						</label>
						<input type="text" placeholder="Email" class="input input-bordered">
					</div>
					
					<div class="form-control mt-6">
						<button type='submit' class="btn btn-primary">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</BaseLayout>

<style>
.recent-post {
	background-color: hsl(var(--b1));
}

.signup-form {
  background-color: hsl(var(--b2));
}
</style>