---
import Drawer from '../components/Drawer.astro';
import MainHead from '../components/MainHead.astro';

const { title, description, containerClass } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description ?? 'some description'} />
	</head>

	<body>
		<Drawer title={title}>
			<main class={containerClass ?? `container mx-auto p-2 px-4`}>
				<slot />
			</main>

			<footer class='flex justify-center py-8'>
				© Copyright © 2022 Shinozuka Oscar - All Rights Reserved.
			</footer>
		</Drawer>

		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
			defer
		></script>
	</body>
</html>
