---
import Navbar from '../components/Navbar.astro';
import '../styles/algolia-search.css';
import '../styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title ?? 'Shinozuka Oscar'}</title>
	</head>
	<body>
		<Navbar />

		<main class='container mx-auto'>
			<slot></slot>
		</main>

		<script
			type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
			defer
		></script>
	</body>
</html>
